.logoContainer {
  width: 60px;
  height: 42px;
}

@media (minwidth: 768px) {
  .logoContainer {
    width: 65px;
    height: 46px;
  }
}

@media (minwidth: 992px) {
  .logoContainer {
    width: 90px;
    height: 63px;
  }
}
