.logoContainer {
    width: 60px;
    height: 42px;
  }
  
  @media (min-width: 768px) {
    .logoContainer {
      width: 65px;
      height: 46px;
    }
  }
  
  @media (min-width: 992px) {
    .logoContainer {
      width: 90px;
      height: 63px;
    }
  }